.container {
    text-align: center;
  }

  .container_text {
    text-align: center;
    margin-top: 90px;
    color:#fdfdfd;
  }

  .button {
    width: 270px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: rgb(255, 255, 255) !important;
    text-transform: uppercase;
    font-weight: 450;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 300px;
    cursor: pointer;
    display: inline-block;
    background-color: #2b3eeb;
    border: 3px solid #6b6591;
    border-radius: 10px;
    transition: .3s;
    margin-right: 60px;
  }
  
  .button:hover {
    animation: pulse 1s infinite;
    transition: .3s;
  }  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
  } 

  .button2 {
    width: 270px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: rgb(0, 0, 0) !important;
    text-transform: uppercase;
    font-weight: 450;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 300px;
    cursor: pointer;
    display: inline-block;
    background-color: #fdfdfd;
    border: 3px solid #6b6591;
    border-radius: 10px;
    transition: .3s;
    margin-right: 60px;
  }
  
  .button2:hover {
    animation: pulse 1s infinite;
    transition: .3s;
  }  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
  }  

  .button3 {
    width: 270px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: rgb(0, 0, 0) !important;
    text-transform: uppercase;
    font-weight: 450;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 300px;
    cursor: pointer;
    display: inline-block;
    background-color: #2beb35;
    border: 3px solid #6b6591;
    border-radius: 10px;
    transition: .3s;
    margin-right: 60px;
  }
  
  .button3:hover {
    animation: pulse 1s infinite;
    transition: .3s;
  }  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
  }  